<!DOCTYPE html>
<html>
<head>

    <title><%- title %></title>


    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <script type="text/javascript" src="/js/scripts/boot.js"></script>


</head>

<body>


<%- body %>



<!--<script type="text/javascript" src="/js/socket.io.js"></script>-->
<!--&lt;!&ndash; then beef it up with some convenience logic for talking to Sails.js &ndash;&gt;-->
<!--<script type="text/javascript" src="/js/sails.io.js"></script>-->
<!--&lt;!&ndash; listen on socket.io for incoming messages &ndash;&gt;-->
<!--<script type="text/javascript" src="/js/app.js"></script>-->


</body>
</html>
