<div id="datagrid1" class="mini-datagrid" style="width:700px;height:280px;"
     url="/user/page"  idField="id"
     sizeList="[5,10,20,50]" pageSize="10"
        >
    <div property="columns">
        <div type="indexcolumn" ></div>

        <div field="user_name" width="120" headerAlign="center">姓名</div>
        <div field="user_code" width="120" headerAlign="center">姓名</div>

    </div>
</div>
<script type="text/javascript">
    mini.parse();

    var grid = mini.get("datagrid1");
    grid.load();
</script>